<div class="jeux-grid">
    <div class="jeu-card" [attr.data-index]="colorIndex() % 6">
        <div class="jeu-card__visual">
            <span class="jeu-card__game-name">{{ jeu().nom }}</span>
        </div>
        <div class="jeu-card__info">
            @if (jeu().description) {
            <p class="jeu-card__description">{{ jeu().description }}</p>
            }
            <p class="jeu-card__meta">
                {{ jeu().nbNumeros }} numéros sur {{ jeu().maxNumeros }}
                @if (jeu().nbNumeroChance) {
                · {{ jeu().nbNumeroChance }} numéro chance sur {{ jeu().maxNumeroChance }}
                }
            </p>
        </div>
    </div>

</div>